.Locations{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.LocationIcon{
    margin: 2px;
    padding: 1px;
    border: 2px solid black;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,grey,white);
}
.LocationIcon:hover{
    margin: 2px;
    padding: 1px;
    border: 2px solid black;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,black,white);
    animation: Icon-bounce infinite 0.3s linear;
}
.IconsPart{
    
}
.ContentPart{
    width: 65%;
    margin: 2px;
    padding: 1px;
    border: 2px solid black;
    box-sizing: border-box;
}
.titleClass{
    border-bottom: 2px solid black;
    padding: 50px;
    background-image: linear-gradient(silver,white);
    color: black;
    font-size: 33px;
    font-weight: bolder;
}
.contentClass{
    display: flex;
}
.descriptionClass{
    text-align: left;
    background-image: linear-gradient(silver,white);
    color: black;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
@keyframes Icon-bounce {
    /* from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    } */
    /* 0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);} */
    50% {transform: translateY(-5px);}
  }